.dashboard {
  height: 100%;
  width: 100vw;
  /* background-color: azure; */
  display: flex;
  padding: 25px;
  gap: 25px;
}

.sidebar-div {
  background: linear-gradient(
    0deg,
    #925fe2 80.26%,
    rgba(146, 95, 226, 0) 143.39%,
    #e2d4f7 143.39%
  );
  height: 100%;
  width: 20%;
  border-radius: 15px;
  min-width: 236px;
  max-width: 300px;
}

.contents {
  height: 100%;
  width: 80%;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  gap: 14px;
  /* background-color: #007297; */
}

.contents-top {
  height: calc(100% - 200px);
  display: flex;
  gap: 16px;
  min-height: 343px;
  width: 100%;
}

.contents-bottom {
  height: 200px;
  display: flex;
  justify-content: space-between;
  min-height: 200px;
  width: 100%;
}

.contents-top-left {
  height: 100%;
  /* min-width: calc(100% - 244px); */
  width: 74.42%;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.calender-div {
  height: 100%;
  min-width: 244px;
  width: 25.5%;
  background: #ffffff57;
  border-radius: 20px;
  /* border: 1px solid #9d9e9f99; */
}

.calender-div-faculty {
  height: 100%;
  min-width: 244px;
  width: 25.5%;
  max-height: calc(100% - 200px);
  background: #ffffff57;
  border-radius: 20px;
  /* border: 1px solid #9d9e9f99; */
}

.greetings-div {
  width: 100%;
  height: 39.5%;
  background: linear-gradient(
    87.08deg,
    #ffffff -58.68%,
    #007297 -58.68%,
    #d11b52 52.43%
  );
  border-radius: 15.63px;
  box-shadow: 5.21px 5.21px 31.27px 5.21px #00000014;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 33px;
  position: relative;
}

.feedback-div {
  width: 100%;
  height: 61.5%;
  border-radius: 15.63px;
  background: #ffffff57;
  padding: 18px;
}

.objectives-div {
  width: 58.5%;
  height: 100%;
  background: #ffffff57;
  border-radius: 15.63px;
  /* min-width: 562px; */
}

.group-members {
  width: 39.5%;
  height: 100%;
  background: #ffffff57;
  border-radius: 15.63px;
  /* min-width: 380px; */
}

/* TEXT */
.greetings-text-sm {
  /* font-family: Poppins; */
  font-size: 13px;
  font-weight: 400;
  color: #ffffffbf;
}

.greetings-text-xl {
  /* font-family: Poppins; */
  font-size: 28px;
  font-weight: 600;
  line-height: 42px;
  color: #ffffff;
}

.greetings-scholar-hat {
  position: absolute;
  min-width: 150px;
  min-height: 150px;
  height: auto;
  width: 20%;
  bottom: -20px;
  right: 21%;
  transform: rotate(-28.13deg);
}

.greetings-bag {
  position: absolute;
  width: 15%;
  height: auto;
  min-width: 100px;
  min-height: 100px;
  bottom: 5px;
  right: 0;
  transform: rotate(8.84deg);
}

.college-student {
  position: absolute;
  width: 23%;
  height: auto;
  min-height: 155px;
  min-width: 155px;

  bottom: -25px;
  right: 2.5%;
  padding: 0px 49px 25px 0px;
  gap: 0px;
  border-radius: 5.95px 0px 0px 0px;
  opacity: 0px;
}
